COMPOSE_PROJECT_NAME=minio-public-files
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD
MINIO_PUBLIC_BUCKET=public
MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001
MINIO_SERVER_URL=http://YOUR_PUBLIC_HOST_OR_IP:19000
MINIO_BROWSER_REDIRECT_URL=http://127.0.0.1:19001
